In [9]:
import pandas as pd
a = pd.read_csv('data/mtcars.csv', index_col=0)

In [12]:
# 사용자 코딩
from sklearn.preprocessing import MinMaxScaler
scaler = ['qsec']
min = MinMaxScaler()
min.fit(a[scaler])
a[scaler] = min.transform(a[scaler])

print(a[scaler])

                         qsec
model
Mazda RX4            0.233333
Mazda RX4 Wag        0.300000
Datsun 710           0.489286
Hornet 4 Drive       0.588095
Hornet Sportabout    0.300000
Valiant              0.680952
Duster 360           0.159524
Merc 240D            0.654762
Merc 230             1.000000
Merc 280             0.452381
Merc 280C            0.523810
Merc 450SE           0.345238
Merc 450SL           0.369048
Merc 450SLC          0.416667
Cadillac Fleetwood   0.414286
Lincoln Continental  0.395238
Chrysler Imperial    0.347619
Fiat 128             0.591667
Honda Civic          0.478571
Toyota Corolla       0.642857
Toyota Corona        0.655952
Dodge Challenger     0.282143
AMC Javelin          0.333333
Camaro Z28           0.108333
Pontiac Firebird     0.303571
Fiat X1-9            0.523810
Porsche 914-2        0.261905
Lotus Europa         0.285714
Ford Pantera L       0.000000
Ferrari Dino         0.119048
Maserati Bora        0.011905
Volvo 142E           0.488095

In [13]:
result = a[a['qsec'] > 0.5]
print('결과값은', result)

결과값은                  mpg  cyl   disp   hp  drat     wt      qsec  vs  am  gear  \
model
Hornet 4 Drive  21.4    6  258.0  110  3.08  3.215  0.588095   1   0     3
Valiant         18.1    6  225.0  105  2.76  3.460  0.680952   1   0     3
Merc 240D       24.4    4  146.7   62  3.69  3.190  0.654762   1   0     4
Merc 230        22.8    4  140.8   95  3.92  3.150  1.000000   1   0     4
Merc 280C       17.8    6  167.6  123  3.92  3.440  0.523810   1   0     4
Fiat 128        32.4    4   78.7   66  4.08  2.200  0.591667   1   1     4
Toyota Corolla  33.9    4   71.1   65  4.22  1.835  0.642857   1   1     4
Toyota Corona   21.5    4  120.1   97  3.70  2.465  0.655952   1   0     3
Fiat X1-9       27.3    4   79.0   66  4.08  1.935  0.523810   1   1     4

                carb
model
Hornet 4 Drive     1
Valiant            1
Merc 240D          2
Merc 230           2
Merc 280C          4
Fiat 128           1
Toyota Corolla     1
Toyota Corona      1
Fiat X1-9          1

In [17]:
# 작업형2
import pandas as pd
X_test = pd.read_csv("data/X_test.csv")
X_train = pd.read_csv("data/X_train.csv")
y_train = pd.read_csv("data/y_train.csv")

In [21]:
# 사용자 코딩
#1. 결측치 제거
X_test

      maxPlayerLevel;numberOfAttemptedLevels;attemptsOnTheHighestLevel;totalNumOfAttempts;averageNumOfTurnsPerCompletedLevel;doReturnOnLowerLevels;numberOfBoostersUsed;fractionOfUsefullBoosters;totalScore;totalBonusScore;totalStarsCount;numberOfDaysActuallyPlayed
0                    13;7;2;9;18;0;2;1;1565000;1125;16;1
1                         3;4;1;4;8;0;0;0;602000;900;9;1
2      42;8;3;24;24.7142857143;0;5;0.4;2196000;1375;17;4
3                  39;5;4;13;26.25;0;0;0;1353000;650;8;4
4          6;7;1;7;11.2857142857;0;2;1;1352000;1375;16;1
...                                                  ...
25284                   5;6;3;8;9;0;1;1;960000;1050;13;2
25285                5;6;1;7;8.5;1;0;0;1394000;1250;15;3
25286      5;6;1;6;11.1666666667;0;1;1;1024000;1125;12;1
25287  12;13;1;16;14.3846153846;0;7;0.8571428571;3658...
25288                     0;1;1;1;3;0;0;0;125000;250;0;1

[25289 rows x 1 columns]